<%= month_calendar events: global_meetings do |date, meetings| %>
  <%= date %><br />
  <% meetings.each do |meeting| %>
    <%= render partial: 'calendar_cell', locals: {meeting: meeting} %>
  <% end %>
<% end %>
