<%= form_with model: meeting do |f| %>
  <%= render "layouts/error_messages", resource: meeting %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :room_id, class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= f.select :room_id, Room.all.collect {|r| [ r.name, r.id ] }, { prompt: 'Select a Room' }, { style: 'width: 100%', class: 'form-control', required: true } %>
      </div>
    </div>

    <div class="col-md-6">
      <%= f.label :title, class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= f.text_field :title, class: 'form-control', placeholder: 'title...', required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= label_tag :day, "Date", class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= f.date_select :day, {}, { class: 'form-control', style: 'width: auto; display: inline' } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :scheduled_at, class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= f.select :scheduled_at, (8..18).to_a, { prompt: 'Select the hour'},  { class: 'form-control d-inline', style: 'width: auto' } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary btn-save-meeting" %>
      </div>
    </div>
  </div>
<% end %>
