<h5>Dashboard for Meetings</h5>

<div id="<%="form-meetings-#{current_user.id}"%>">
  <%= render partial: 'form', locals: {meeting: @meeting} %>
</div>
<div id="calendar">
  <%= render partial: "calendar", locals: {global_meetings: @meetings} %>
</div>
