<hr />
<div class="simple-calendar">
  <h5>Calendar to month: <%= start_date.all_month %></h5>
  <div class="calendar-heading mb-2">
    <%= link_to t('simple_calendar.previous', default: 'Previous month'), calendar.url_for_previous_view, class: 'btn btn-secondary' %>
    <%= link_to t('simple_calendar.next', default: 'Next month'), calendar.url_for_next_view, class: 'btn btn-secondary' %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day), id: "date-#{day}" do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
