<div class="row">
  <div class="col-md-12 actions text-center">
    <div class="card mb-2 bg-light">
      <div class="card-body">
        <h4 class="card-title text-muted">Log in</h4>
        <div class="card-text lead">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "my-4"}) do |f| %>
            <%= render "layouts/error_messages", resource: resource %>
            <div class="row mb-1">
              <div class="col-md-6 text-left">
                <%= f.label :email, class: 'col-sm-4 col-form-label text-left' %>
                <div class="col-sm-8">
                  <%= f.text_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row text-left">
              <div class="col-md-6 text-;eft">
                  <%= f.label :password, class: 'col-sm-4 col-form-label' %>
                  <div class="col-sm-8">
                    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-group mt-2" role="group" aria-label="User Actions">
              <%= f.submit "Log in", class: "btn btn-primary" %>
              <%= render "devise/shared/links" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
