<%= form_with model: room, local: true, html: {class: "my-4"} do |form| %>
  <div class="form-group">
    <%= form.text_field :name, placeholder: "Enter with the name of room", class: "form-control", required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
