<div class="card mb-2 bg-light">
  <div class="card-body">
    <h4 class="card-title text-muted">
      <%= room.name %>
      <small>-- <%=time_ago_in_words room.created_at %></small>
    </h4>
    <p class="card-text lead">
      <%= link_to 'Edit', edit_room_path(room), class: "btn btn-secondary" %>
      <%= button_to 'Destroy', room_path(room), method: :delete, class: "btn btn-danger" %>
    </p>
  </div>
</div>
