<h5>Dashboard for Rooms</h5>

<%= render partial: 'form', locals: { room: @room } %>
<%= turbo_stream_from "rooms" %>
<%= turbo_frame_tag "rooms" do %>
  <%= render partial: "room", collection: @rooms %>
<% end %>
